[alias]
	ci = commit
	co = checkout
	st = status -sb
	br = branch
	fx = commit --amend --no-edit
	pr = pull --rebase
	pn = push --no-verify
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
        l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative

        fixup = !sh -c 'git commit -m \"fixup! $(git log -1 --format='\\''%s'\\'' $@)\"' -
        ri = !sh -c 'git rebase -i --autosquash $(git origin-hash)^'
        origin-hash = ! git log HEAD --not --remotes=origin --pretty=format:%h | tail -1
        lg = ! tig --graph HEAD $(git current-remote-branch) --not HEAD@{1000}

[rebase]
        autoStash = true

[color]
	ui = on
	interactive = true

[user]
	name = Amaury de la Vieuville

[includeIf "hasconfig:remote.*.url:git@github.com:*/**"]
	path = ~/.gitconfig-personal
[includeIf "hasconfig:remote.*.url:https://github.com/**"]
	path = ~/.gitconfig-personal

[includeIf "hasconfig:remote.*.url:**apple**"]
	path = ~/.gitconfig-work

[github]
	user = amaury-dlv

[interactive]
	singlekey = true
[push]
	default = simple
