#:schema https://jj-vcs.github.io/jj/latest/config-schema.json

[user]
name = "Amaury de la Vieuville"
email = "adelavieuville@apple.com"

[ui]
#diff-formatter = ["difft", "--color=always", "$left", "$right"]
diff-editor = ["nvim", "-c", "DiffEditor $left $right $output"]
diff-instructions = false

[revset-aliases]
'bases()' = 'present(main@origin) | present(master@origin) | trunk()'
'unpushed()' = '(bookmarks() | (visible_heads() & mine())) & ~remote_bookmarks()'
'interesting()' = '@ | unpushed() | tracked_remote_bookmarks()'
'interesting_branches()' = 'bases()..interesting()'
'interesting_branches_short()' = 'interesting_branches() & (bases() | ancestors(interesting(), 3))'
'current_branch()' = 'bases()..@'
#'interesting_branches_short()' = 'interesting_branches() & ((bases() | ancestors(interesting(), 3)) | roots(interesting_branches()))'

[signing]
backend = "gpg"
behavior = "drop"
backends.gpg.program = "/usr/local/bin/ac-sign"

[git]
sign-on-push = true

[colors]
"diff removed token" = { underline = false }
"diff added token" = { underline = false }
bookmarks = "green"

[revsets]
#log = '@ | bases()..(visible_heads() & mine() & committer_date(after:"3 weeks ago")) | tracked_remote_bookmarks() | bases()'
log = '@ | bases() | current_branch() | interesting() | interesting_branches_short()'

[aliases]
tug = ["bookmark", "move", "--from", "heads(::@- & bookmarks())", "--to", "@-"]

[template-aliases]
'format_short_change_id(id)' = 'id.shortest()'
'format_timestamp(timestamp)' = "timestamp.ago()"
'format_short_signature(signature)' = 'signature.email().local()'
'in_branch(commit)' = 'commit.contained_in("immutable_heads()..bookmarks()")'

